# Google OAuth credentials
GOOGLE_ID= 646437910396-3s7f5pps9779clrj8hj33oalq4irmitu.apps.googleusercontent.com
GOOGLE_SECRET=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

# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017

# NextAuth secret
NEXTAUTH_SECRET=your_nextauth_secret_here

# Base URL for the application
NEXTAUTH_URL=http://localhost:3000

# Google API Key
NEXT_PUBLIC_API_KEY=AIzaSyC77Bh9ehqBDgP5h5gZdiUAY5F_DG2OVa4
